<div id="show_page" ng-app="App">
  <div ng-controller="RequestsController">
    <h1>
      {{ping_url}}
      <a ng-click="ping()" type="button" class="btn btn-info">Make a Request</a>
    </h1>

    <div class="panel-group">
      <div class="panel panel-default" ng-repeat="request in requests">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{request.id}}" class="collapsed">
              <span class="label label-default">{{request.id}}</span>
              <span class="label label-danger">{{request.created_at}}</span>
              <span class="label label-primary">{{request.info.ip}}</span>
            </a>
          </h4>
        </div>
        <div id="collapse_{{request.id}}" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <pre>
{{request.info | json_pretty}}
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var DATA = {};
  DATA.ping_url = "http://<%= request.host %>/ping/<%= @key %>";
  DATA.js_url = "http://<%= request.host %>/js/<%= @key %>";
  DATA.key = "<%= @key %>";
  DATA.requests = <%= JSON.pretty_generate(@requests.map(&:to_hash)) %>;
</script>



