<h1><%= @ping_url %></h1>

<div class="panel-group" id="accordion">
  <% @requests.each do |request| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= request.id %>" class="collapsed">
            [<%= request.id %>] <%= request.created_at %>
          </a>
        </h4>
      </div>
      <div id="collapse_<%= request.id %>" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <pre>
<%= request.info %>
          </pre>
        </div>
      </div>
    </div>
  <% end %>
</div>